target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Docs ###
/docs/
/docs/java/

### Artifact ###
/out/
/out/artifacts/

### api keys ###
/src/main/resources/api/ChatGPT.json
/src/main/resources/api/OpenWeather.json

### config ###
/src/main/resources/config/BotConfig.json
/src/main/resources/config/BotConfig.json.disabled
/src/main/resources/config/ChannelList.json
/src/main/resources/config/ChannelList.json.disabled

### storage ###
/storage/

### meta-inf ###
/src/main/resources/META-INF/

### gitingore ###
.gitignore