### IntelliJ IDEA ###
.idea/

### Maven ###
.mvn/

### Certificates ###
certificates/account.key
certificates/fullchain.pem
certificates/privkey.pem

### Docs ###
docs/java/

### Output ###
out/artifacts/

### Resources ###
src/main/resources/config/config.json
src/main/resources/META-INF/
src/main/resources/Resources.zip
src/test/resources/

### Target ###
target/

### Test Files ###
TestStatic.webm
TwitchBot.zip