target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Docs ###
/docs/
/docs/java/

### Artifact ###
/out/
/out/artifacts/

### Database ###
/src/main/resources/database/mySQL.json
/src/main/resources/database/dev.json

### api keys ###
/src/main/resources/api/apiKeys.json
/src/main/resources/api/ChatGPT.json

### config ###
/src/main/resources/config/BotConfig.json
/src/main/resources/config/DevConfig.json
/src/main/resources/config/Channel.list
/src/main/resources/config/Dev.list
/src/main/resources/config/httpsServer.json
/src/main/resources/config/DevHttpsServer.json

### meta-inf ###
/src/main/resources/META-INF/

### gitingore ###
#.gitignore